
.loginCardStyle  {
    float: none !important;
    margin: 0px auto;
  }

/* .content-updated {
  padding: 10px !important;
} */

.container-fluid-updated {
  padding: 5px !important;
}

.bill-content {
  padding-top: 15px;
}