.colItemCode {
    width: 20% !important;
}
.colItemName {
    width: 40% !important;
}
.colPrice {
    width: 15% !important;
}
.colQty {
    width: 10% !important;
}
.colAmount {
    width: 15% !important;
}

.invoice-header {
    padding:20px;
    padding-top:0px;
    padding-left: 30px;
}
 

 